{% extends "base.html" %}
{% block head %} <style></style>{% endblock head %}
{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for card in filter.qs %}
    <div class="container" style="margin-top:8px; margin-bottom:8px">
        <div class="card">
            <h5 class="card-header">№ {{card.id}}</h5>
            <div class="card-body">
                <div class="font-weight-bold">
                    <span class="fi fi-{{card.word.language.flag_code}}" style="box-shadow: 0 0 1px black"></span>
                    {{card.word.text}}
                </div>
                <div class="font-weight-bold">
                    <span class="fi fi-{{card.translation.language.flag_code}}" style="box-shadow: 0 0 1px black"></span>
                    {{card.translation.text}}
                </div>
                <p class="card-text font-italic">{{card.description|default_if_none:'' }}</p>
            </div>
        </div>
    </div>

    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{{ request.get_full_path }}?page={{ page_obj.next_page_number }}">next</a>
            <a href="{{ request.get_full_path }}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}