{% extends "base.html" %}
{% load my_tags %}
{% block title %}Карточки{% endblock title %}
{% block header %}Карточки{% endblock header %}
{% block content %}
{% load crispy_forms_tags %}

<div>
    <div>
        <h5 style="text-align: center;">Фильтры</h5>
        <form action="/mycards" method="get">
            {% csrf_token %}
            {{ filter | crispy }}
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if cards.has_previous %}
                <a href="?{% add_or_replace page=1 %}?"> first</a>
                <a href="?{% add_or_replace page=cards.previous_page_number %}?">previous</a>
            {% endif %}

            <span class="current">
                Page {{ cards.number }} из {{ cards.paginator.num_pages }}.
            </span>

            {% if cards.has_next %}
                <a href="?{% add_or_replace page=cards.next_page_number%}">next</a>
                <a href="?{% add_or_replace page=cards.num_pages %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<div>
    <h5 style="text-align: center;">Результат</h5>

    {% for card in cards %}
    <div class="container" style="margin-top:8px; margin-bottom:8px">
        <div class="card">
            <h5 class="card-header">№ {{card.id}}</h5>
            <div class="card-body">
                <div class="font-weight-bold">
                    <span class="fi fi-{{card.word.language.flag_code}}" style="box-shadow: 0 0 1px black"></span>
                    {{card.word.text}}
                </div>
                <div class="font-weight-bold">
                    <span class="fi fi-{{card.translation.language.flag_code}}" style="box-shadow: 0 0 1px black"></span>
                    {{card.translation.text}}
                </div>
                <p class="card-text font-italic">{{card.description|default_if_none:'' }}</p>
            </div>
        </div>
    </div>
    {%endfor%}
</div>


{% endblock content %}